.header {
  background: var(--color-header);
  padding: 1.5rem 1rem;
}

.header-content {
  width: min(100% - 2rem, var(--container-width));
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo {
  width: 72px;
}

.header-text h1 {
  color: var(--color-title);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.header-text p {
  color: var(--color-subtitle);
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
